:root {
    --color-1: #0CADEC;
    --color-2: #09DDF1;
    --color-3: #5258C7;
    --color-4: #E40B7E;
    --color-5: #861B97;
}

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Nova+Mono|VT323&display=swap');

/*font-family: 'Major Mono Display', monospace;*/
/*font-family: 'Nova Mono', monospace;*/
/*font-family: 'VT323', monospace;*/

html {
    box-sizing: border-box;

}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    background:  url("../img/main-bg.jpg") no-repeat center fixed;
    background-size: cover;
}

h1,
h2,
h3,
a {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-family: 'Nova Mono', monospace;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

hr.line {
    border: 2px solid #fff;
}

.m-1 {
    margin: 1rem;
}


/*header*/

header.main-header {
	display: flex;
	flex-direction: row;
	height: 100vh;
	
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav.main-nav {
	height: 20%;
}

ul.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.menu .border:hover {
    border-bottom: 5px solid var(--color-2);
    padding-bottom: 5px;
    cursor: pointer;

}

.menu>li {
    position: relative;
}

.menu .sub-menu {
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: 10;
    display: none;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu .sub-menu li {
    padding: 0.3rem 0;
    font-size: 1rem;
}

.menu .sub-menu a:hover {
    border-left: 5px solid var(--color-2);
    padding-left: 5px;
}

.menu>li:hover .sub-menu {
    display: block;

}

section.header-name {
	height: 80%;
}

img.logo {
    width: 150px;
    height: 150px;
    margin: 2rem auto;
    border-radius: 50%;
    filter: invert(100%);
    animation: logo 2s linear infinite;
    opacity: 0.8;
}

@keyframes logo {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

ul.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

ul.name li {
    font-family: 'VT323', monospace;
    font-size: 5rem;
}

li.name-letter {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

/*Label*/


.owl-carousel {

    width: 90%;
    margin: 0 auto;

}

.slider {
    margin: 1rem;
}

.owl-carousel .owl-nav {
	position: relative;
	text-align: center;
	font-size: 3rem;
}


.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
	left: -30px;
	top: -280px;
}

.owl-carousel .owl-nav button.owl-next {
	position: absolute;
	right: -30px;
	top: -280px;
}




div.coming-soon::before {
	content: "coming";
	position: absolute;
	left: 10%;
	bottom: 10%;
	font-size: 10px; 
}

div.coming-soon::after {
	content: "soon";
	position: absolute;
	right: 10%;
	top: 10%;
	font-size: 10px; 
}

/*Studio*/

div.flex {
    display: flex;   
}

div.h-450 {
    min-height: 450px;
}

p.fs-m-1 {
    font-size: 1rem;
    margin: 1rem auto;
}

.black {
    background-color: black;
}

h2.crimson {
    color: var(--color-4);
}

a.grey {
    color: grey;
    transition: 1s;
}


a.grey:hover {
    border-bottom: 5px solid yellow;
    padding-bottom: 10px; 
}

.w-50 {
    width: 50%;
}

.p-2 {
    padding: 2rem;
}

.line-yellow {
    border: 5px solid yellow;
    margin: 0 2rem;
}

/*Art*/

div.img-bg-art {
    background-image: url("../img/art-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: contain;*/
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
    filter: invert(100%);
}

div.img-bg-art:hover {
    transform:scale(0.6) skew(-10deg,-10deg);
}

/*Video*/

div.video {
    min-height: 400px; 
}

/*Covers*/

.img-bg-cover {
    background-image: url(../img/cover-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
}

div.img-bg-cover:hover {
    transform:scale(0.6) skew(-10deg,-10deg);
}

/*Posters*/

.img-bg-poster {
    background-image: url(../img/poster-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
}

div.img-bg-poster:hover {
    transform:scale(0.6) skew(-10deg,-10deg);
}

/*Footer*/

section.footer {
    background-color: var(--color-3);
}

section.footer p {
    font-size: 1rem;
    text-align: center;
    padding: 2rem 0;
   
}



