:root {
    --color-0: #fff;
    --color-2: #09DDF1;
    --color-4: #E40B7E;
    --grey: grey;
    --yellow: yellow;
}



@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Nova+Mono|VT323&display=swap');

/*font-family: 'Major Mono Display', monospace;*/
/*font-family: 'Nova Mono', monospace;*/
/*font-family: 'VT323', monospace;*/

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}



*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-0);
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    /* background:  url("../img/mesh-gradient.png") no-repeat center fixed; */
    /* background-size: cover; */
    /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

/* bg animation gradient */
.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }
  


/* gsap mouse follower start */
.ball {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid var(--color-2);
    border-radius: 50%;
    pointer-events: none;
  }
/* gsap mouse follower end */

/* Mobile Navigation Menu */



/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-2); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-2); 
  }

/* Scroll Back To Top Button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--color-2);
    color: #333333;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  #header > div > div > a > i {
      position: fixed;
      z-index: 99;
      top: 10px;
      right: 10px;
  }

h1,
h2,
h3,
a {
    font-family: 'Major Mono Display', monospace;
}

h3 {
    text-align: justify-all;
    padding: 1rem;
}

p {
    font-family: 'Nova Mono', monospace;
    text-align: justify-all;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-0);
}

hr.line {
    border: 2px solid var(--color-0);
    /*animation: line-color linear 1s infinite alternate;*/
}

@keyframes line-color {
    0%{}

    100%{

        border-color: var(--color-4);
    }
}

.m-1 {
    margin: 1rem;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*header*/

header.main-header {
	display: flex;
	flex-direction: row;
	height: 100vh;
	margin-bottom: 3rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* div.menu-icon {
    display: none;
    margin-top: 1rem;
    margin-right: 1rem;
    position: absolute;
    right: 0;
    top: 0;
} */

#menuToggle > input[type=checkbox]{
    visibility: hidden;
}

nav.main-nav {
	height: 20%;
}

ul.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/*nav link border hover animation */
.nav-item {
    margin: 0 30px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    position: relative;
    padding: 0;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--color-2);
    width: 100%;
    height: 5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 650ms;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

/* .menu>li {
    position: relative;
} */

/* .menu .sub-menu {
    display: none;
    position: absolute;
    left: 0px;
    z-index: 10;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 3s;

} */

/* .menu .sub-menu li {
    padding: 0.3rem 0;
    font-size: 1rem;
} */

/* .menu .sub-menu a {
    transition: 1s;
} */

/* .menu .sub-menu a:hover {
    border-left: 5px solid var(--color-2);
    padding-left: 5px;
} */



/* .menu>li:hover .sub-menu {
    display: block;  
    top: 50px;      
} */


section.header-name {
    display: flex;
    flex-direction: column;
	height: 80%;

}

img.logo {
    width: 100px;
    height: 100px;
    margin: 2rem auto;
    border-radius: 50%;
    filter: invert(100%);
    animation: logo 2s linear infinite reverse ;
    opacity: 0.9;
}

@keyframes logo {
    0% {}
    
    50% {
    }

    100% {
        transform: rotate(360deg) scale(0.1);
    }
}

ul.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80%;
}

ul.name li {
    font-family: 'VT323', monospace;
    font-size: 5rem;
    
}

li.name-letter {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
    
}

a.btn-header {
    /* text-transform: uppercase; */
    font-size: large;
    background-color: transparent;
    border:1px solid var(--color-0);
    color: var(--color-0);
    padding: 1rem 2rem;
    margin: 0 auto;
    transition: 1s;
    cursor: pointer;
}

a.btn-header:hover {
    /* letter-spacing: 10px; */
    border:1px solid var(--color-2);
    color: var(--color-2);
}

/*Label*/

section.label {
    margin-top: 3rem;
}


.owl-carousel {

    width: 100%;
    margin: 0 auto;

}

div.slider {
    margin: 1rem;
}

.owl-carousel .owl-nav {
	position: relative;
	text-align: center;
	font-size: 3rem;
}


.owl-carousel .owl-nav button.owl-prev {
    display: none;
	position: absolute;
	left: -30px;
	top: -290px;
}

.owl-carousel .owl-nav button.owl-next {
    display: none;
	position: absolute;
	right: -30px;
	top: -290px;
}




div.coming-soon::before {
	content: "coming";
	position: absolute;
	left: 10%;
	bottom: 10%;
	font-size: 10px; 
}

div.coming-soon::after {
	content: "soon";
	position: absolute;
	right: 10%;
	top: 10%;
	font-size: 10px; 
}

div.atwork-1 {
    max-width: 50%;
    max-height: 450px;
    background-image: url('../img/atwork-1.webp');
    background-repeat: no-repeat;
    background-position: center;
}

div.atwork-2 {
    max-width: 50%;
    max-height: 450px;
    background-image: url('../img/atwork-2.webp');
    background-repeat: no-repeat;
    background-position: center;
}

div.atwork-3 {
    max-width: 50%;
    max-height: 450px;
    background-image: url('../img/atwork-3.webp');
    background-repeat: no-repeat;
    background-position: center;
}

div.atwork-4 {
    max-width: 50%;
    max-height: 450px;
    background-image: url('../img/atwork-4.webp');
    background-repeat: no-repeat;
    background-position: center;
}

div.atwork-5 {
    max-width: 50%;
    max-height: 450px;
    background-image: url('../img/atwork-5.webp');
    background-repeat: no-repeat;
    background-position: center;
}

/*Studio*/

div.flex {
    display: flex;   
}

div.h-450 {
    min-height: 450px;
}

p.fs-m-1 {
    font-size: 1rem;
    margin: 1rem auto;
}

.black {
    background-color: rgba(0,0,0, 0.9);
}

h2.crimson {
    color: var(--color-4);
}

a.grey {
    color: grey;
    transition: 1s;
}


a.grey:hover {
    border-bottom: 5px solid yellow;
    padding-bottom: 10px; 
}

.w-50 {
    width: 50%;
}

.p-2 {
    padding: 2rem;
}

.line-yellow {
    border: 5px solid yellow;
    margin: 0 2rem;
}

/*Art*/

div.img-bg-art {
    min-width: 50%;
    min-height: 450px;
    background-image: url("../img/art-1.webp");
    background-repeat: no-repeat;
    background-position: center;
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
    filter: invert(100%);
}

div.img-bg-art:hover {
    transform:scale(0.6) skew(-10deg,-10deg);
}

#studio > div.art.flex.h-450.black > div.col-right.w-50.p-2.img-bg-art {
    width: auto;
}

/*Video*/

div.video {
    min-height: 400px; 
}

/*Covers*/

.img-bg-cover {
    min-width: 50%;
    min-height: 450px;
    background-image: url(../img/cover-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
}

div.img-bg-cover:hover {
    transform:scale(0.6) skew(-10deg,-10deg);
}

/*Posters*/

.img-bg-poster {
    min-width: 50%;
    min-height: 450px;
    background-image: url(../img/poster-1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 2rem;
    transition: 1s;
    cursor: pointer;
}

div.img-bg-poster:hover {
    transform:scale(0.6) skew(-10deg,-10deg);
}

/*Toggle*/
div.toggle {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

button.btn {
    border: none;
    padding: 5px 1.5rem 10px;
    background-color: transparent;
    border: 2px solid var(--color-2);
    color: var(--color-0); 
    letter-spacing: 10px;
    transition: 1s;
    cursor: pointer;
}

button.btn:hover {
    border-color: var(--color-4);
}

 /*Blog*/

 div.blog-article-grig {
    display: grid;
    grid-template-columns: 350px auto;
    gap: 1rem;
    padding: 1rem;
 }

 div.blog-article-article {
    
 }

 div.border:disabled {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 600px;
    border:solid 1px var(--color-0);
    background-color: rgba(0,0,255, 0.5);
    color: var(--color-0);
 }

 div.border span {
    font-size: 1rem;
    padding: 1rem;
    letter-spacing: 1rem;
 }

 div.left-top-data {
    display: flex;
    align-self: flex-start;
    border: 1px solid var(--color-0);
    padding: 1rem;

 }

 div.cs {
    display: flex;
    align-self: center;
    border: 1px solid var(--color-0);
    padding: 1rem;
 }

div.right-bottom-data {
    display: flex;
    align-self: flex-end;
    border: 1px solid var(--color-0);
    padding: 1rem;
 }


/*Footer*/

section.footer {
    background-color: var(--color-4);
    border:solid 1px var(--color-0);
    margin: 2rem 0;
    padding: 2rem;
}

section.footer p {
    /* font-size: 0.8rem; */
    /* text-align: center; */
    /* padding: 2rem; */
    color: rgb(255, 255, 255);
}

.social-media-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
}

